<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpi.voting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/voting"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Priv"
            android:label="@string/title_activity_priv" >
        </activity>
        <activity
            android:name=".Faq"
            android:label="@string/title_activity_faq" >
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".Otp"
            android:label="@string/title_activity_otp" >
        </activity>
        <activity
            android:name=".Landing"
            android:label="@string/title_activity_landing" >
        </activity>
        <activity
            android:name=".Det"
            android:label="@string/title_activity_det" >
        </activity>
    </application>

</manifest>
